@charset "UTF-8";

* { margin: 0; padding: 0; }
html, body { width: 100%; height: 100%; }
a   { text-decoration: none; }
img { vertical-align: middle; }
ul, li  { list-style: none; }
input, button, textarea { outline: none; border: none;}
.fl { float: left;}
.fr { float: right;}
.clearFix { zoom: 1; }
.clearFix:after { content: ''; display: block; height: 0; visibility: hidden; clear: both; }
header,main,footer{width: 100%;}
main{margin-top: 80px;}
.width-range{ width: 1200px; margin: 0 auto;}
.flex-row-col-cen { display: flex; display: -webkit-flex; justify-content: center; align-items: center; flex-wrap: wrap; }
.ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}