@charset 'utf-8';
/** 内容 **/
main{
    width: 100%;
}
/* 全部文章 */
.articles-list{
    width: 550px;
    font-size: 14px;
}
.articles-list li{
    padding: 20px 0;
    border-bottom: 1px dashed #aaa;
}
.articles-list li .img-box{
    width: 180px;
    height: 140px;
    margin-right: 20px;
    overflow: hidden;
    cursor: pointer;
}
.img-box img{
    width: 100%;
    transition: all 0.6s ease;
}
.img-box img:hover{
    transform: scale(1.2);
}
.articles-list li .des{
    width: 350px;
}
.des .time,.from,.readed{
    color: #999;
}
.title,.author-time{
    display: block;
    margin-bottom: 10px;
}
.page{
    margin: 30px auto;
    text-align: center;
    color: #999999;
}
.page span{
    display: inline-block;
    padding: 8px 10px; 
    background: #E3DAD0;
    cursor: pointer;    
}
.page span:hover{
    background: #ece7dd;
}
.page .prev,.next{
    margin-right: 10px;
}
.page .cur,.total{
    margin: 0 10px;
}


/* 主题站 */
.station li{
    padding: 15px 0;
}
.station li img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
.station li div{
    width: 220px;
}
.station li .des{
    color: #999;
}