@charset "utf-8";
/* 头部 */
header{
    width: 100%;
    height: 90px;
    background: #fff;
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 40px;
}
header a{
    display: inline-block;
    width: 180px;
    height: 54px;
    margin-top: 18px;
    content: "";
    background: url(../images/login/logo_lo.png) no-repeat 0 0;
}

.btn{
    width: 310px;
    height: 42px;
    background: #ec7309;
    color: #fff;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    line-height: 42px;
    font-size: 14px;
    display: inline-block;
    border-radius: 3px;
}




