@charset 'utf-8';

/** 内容 **/
.menuTitle{
    font-weight: 400;
    margin-bottom: 20px;
}
.menu-list{
    width: 100%;
}
.menu-list li{
    width: 300px;
    height: 315px;
    box-shadow: 0 1px 3px rgba(34,25,25,0.1);
    border-radius: 4px;
    float: left;
    position: relative;
}
.menu-list li:not(:nth-child(3n)){
    margin: 0 20px 20px 0;
}
.menu-list li .foodImg{
    width: 300px;
    height: 200px;
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.menu-list li .title{
    display: block;
    font-size: 16px;
    color: #333;
    line-height: 26px;
    width: 214px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.menu-list li .title:hover{
    color: #ff0000;
}
.menu-list li .authorInfo{
    width: 60px;
    height: 82px;
    position: absolute;
    right: 15px;
    top: 177px;
    color: #999;
    line-height: 42px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.authorInfo .HeadPortrait{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: block;
    
}
.levelIcon{
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    right: 23px;
    top: 212px;
    background: url(../images/common/level_icon.png) no-repeat;
    background-position: 0 -22px;
    
}


.menu-list li .des{
    color: #6a6a6a;
    font-size: 12px;
    padding-right: 62px;
    padding-bottom: 10px;
    line-height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

