@charset "UTF-8";
/* 初始化 */
* { 
    margin: 0; 
    padding: 0; 
}
html, body { 
    width: 100%; 
    min-width: 940px; 
}
body{ 
    background: #F8F8F7;
    font: 12px Tahoma,Geneva,"Microsoft Yahei";
    color: #333; 
}
a   { 
    text-decoration: none; 
    color: #12937c;
}
a:hover   { 
    text-decoration: underline; 
    color: #ff0000; 
}
img { 
    vertical-align: middle; 
}
ul, li  { 
    list-style: none; 
}
input, button, textarea { 
    outline: none; 
    border: none;
}
.fl { 
    float: left;
}
.fr { 
    float: right;
}
.clearFix { 
    zoom: 1; 
}
.clearFix:after { 
    content: ''; 
    display: block; 
    height: 0; 
    visibility: hidden; 
    clear: both; 
}
.wrapper{ width: 940px; margin: 0 auto;}

/** 头部 **/
header{
    width: 100%;
    margin-bottom: 30px;
}
/* 头部logo和登录注册 */
.head{ 
    height: 50px; 
    line-height: 50px;
}
.logo{
    display: inline-block;
    height: 43px;
    margin-top: 7px;
    width: 147px;
    content: "";
    background: url(../images/common/new_logo.png) no-repeat top left;
}
.login-register>div{
    float: left;
}
.head .login-box a{
    padding: 0 8px;
    color: #12937c;
    border-right: 1px solid #999;
}
.head .login-box a:hover{
    color: #ff0000;
} 
.head .login-box a:last-child{
    border: none;
}
.logined-box{
    position: relative;
    display: none;
}
.mine>li{
    float: left;
    
}
.mine .collection,.mine .order{
    margin-right: 15px;
}
.mine .collection i,.mine .order i{
    display: inline-block;
    content: "";
    width: 18px;
    height: 18px;
    background: url(../images/common/nemicr.png) no-repeat;
    vertical-align: middle;
    margin-right: 5px;
}
.mine .collection i{
    background-position: 0 -28px;
}
.mine .order i{
    background-position: 0 -75px;
}
.user img{
    width: 36px;
    height: 36px;
    content: "";
    background: url(../images/common/48.jpg) no-repeat;
    vertical-align: middle;
    cursor: pointer;
}
.setUp{
    display: none;
    position: absolute;
    right: -20px;
    top: 50px;
    z-index: 99;    
}
.setUp::after{
    display: block;
    content: "";
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #EAEAE2 transparent;
    position: absolute;
    top: -10px;
    left: 50%;
}
.setUp li{
    width: 95px;
    line-height: 25px;
    padding-left: 10px;
    background: #EAEAE2;
    cursor: pointer;
}
.setUp li:hover{
    background: #F2F2EE;
}
.logined-box:hover .setUp{
    display: block;
    
}



/* 头部导航 */
.head-nav{
    width: 100%;
    height: 60px;
    background: #DAEAE8;  
}
.navbar,.search{
    margin-top: 13px;
}

.navbar>li{
    float: left; 
    font-size: 0;
    position: relative;
}
.navbar>li>a{
    display: inline-block;
    font-size: 14px;
    color: #12937C;
    font-weight: 700;
    padding: 8px 14px;
}
.hot{
    display: inline-block;
    background: url(../images/common/nemico.png) no-repeat 0 -56px;
    width: 22px;
    height: 12px;
    position: absolute;
    top: 2px;
    right: 0;
}
.navbar>li>a:hover{
    text-decoration: none;
}
.navbar>li>a.selected{
    background: #12937C;
    color: #fff;
}
.search{
    width: 240px;
    height: 33px;
    position: relative;
}
.search input{
    float: left;
    width: 178px;
    height: 18px;
    line-height: 18px;
    padding: 5px 0 5px 10px;
    border: 1px solid #bddad4;
    border-right: none;
    background-color: #fff;
    color: #999;
}
.search input:focus{
    outline: 5px auto -webkit-focus-ring-color;
}
.search-list{
    background: #f4f4f4;
    position: absolute;
    top:30px;
    left: 0;
    z-index: 99; 
    display: none;
}
.search-list li{
    display: block;
    line-height: 30px;
    padding-left: 10px;
    color: #333;
    cursor: pointer;
    width: 230px;
}
.search-list li:hover{
    background: #eaeaea;
}
.search-list li span{
    display: inline-block;
    margin-right: 4px;
    color: #999;
}
.search button{
    width: 50px;
    height: 30px;
    background: #12937C;
    cursor: pointer;
}
.search .icon-sousuo{
    font-size: 20px;
    color: #fff;
}

/* 内容标题 */
.sameH{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
    display: inline-block;
    margin-right: 8px;
}

/* 左边内容 */
.mainLeft{
    width: 600px;
}
/* 右边内容 */
.mainRight{
    width: 300px;
}

/* 广告 */
.advertisement-wrapper{
    width: 300px;
    height: 248px;
    background-color: #ffffff;
    border: 1px solid #CCC;
    position: relative;
}
.advertisement-menu{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0;
}
.advertisement-menu li{
    display: inline-block;
    margin: 3px;
    box-sizing: border-box;
}
.advertisement-menu li.selected{
    border: 1px solid #FF7700;
}
.advertisement-menu li img{
    width: 31px;
    
}
.advertisement-content{
    position: relative;
    height: 216px;
}

.advertisement-content>a{
    opacity: 0;
}
.advertisement-content>a.show{
    opacity: 1;
}
.advertisement-content img{
    width: 294px;
    padding: 3px;
    position: absolute;  
}
.advertisement-content .title{
    display: inline-block;
    width: 294px;
    height: 35px;
    line-height: 35px;
    padding-left: 5px;
    font-weight: 900;
    font-size: 20px;
    color: #fff;
    background: linear-gradient(90deg, #000, rgba(255, 255, 255, 0));
    position: absolute;
    left: 3px;
    bottom: 3px;
    opacity: 1;
}
.advertisement-content .title.moveTitle{
    opacity: 0;
}
.advertisement-content .mask{
    display: none;
    height: 211px;
    width: 292px;
    position: absolute;
    top: 3px;
    left: 3px;
    background-color: rgba(0,0,0,0.5);
}


.advertisement-content .mask .mask-title{
    height: 60px;
    margin-top: 52px;
    background-color: rgba(1,33,100,0.5);
    box-shadow: 0 1px 4px 0 #000;   
}
.arrowl{
    height: 30px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 22px;
    background: linear-gradient(90deg, #033E98, #3285FF);
    font-weight: 900;
    background-color: #3285FF;  
}
.arrowr{
    border-width: 30px;
    border-style: solid;
    border-color: #3285FF transparent transparent #3285FF;
    font-size: 0px;
    line-height: 0px;
}
.mask-instruction{
    color: #FFFFFF;
    line-height: 60px;
    margin-bottom: 15px;
    font-size: 14px;
    margin-left: 15px;
}
.mask-instruction a{
    display: inline-block;
    padding: 2px;
    margin: 1px;
    line-height: 14px;
    border-radius: 3px;
    background-color: #9A9A9A;
    color: #FFFFFF;
}







/*  底部 */
footer {
    width: 100%;
}
footer ul.footer-bottom{
    margin-bottom: 10px;
    text-align: center;
}
footer ul.footer-bottom li{
    display: inline-block;
    margin: 5px;
}
footer ul.footer-bottom li a{
    color: #6B553F;
} 
footer .copyright{
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.goto-top{
    display: inline-block;
    width: 42px;
    height: 42px;
    position: fixed;
    right: 16px;
    bottom: 290px;
    background: url(../images/common/bu_ic.png) no-repeat -56px -460px;
    display: none;
}
.goto-top:hover{
    background: url(../images/common/bu_ic.png) no-repeat 0 -460px;
}



